$bleu-clair: #70C6EB;
$bleu-fonce: #004E87;


.section {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    max-width: 920px;
}

@media screen and (max-width: 1920px) {
    .section {
        max-width: 775px;
    }
}